*{
    margin: 0;
    padding: 0;
}
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

img{
    width: 100%;
}

.food-items{
    margin: 50px 0;
}
.food-items .card{
    overflow: scroll;
    /* height: 40vh; */
    margin: 0;
}
.gellary .card {
    transition: all 1s;
}
.gellary .card:hover{
    transform: scale(1.1);
}
.feedback{
    padding: 50px 0;
}
.feedback .row{
    border: 1px solid gray;
    margin: 10px 0;
    border-radius: 12px;
    box-shadow: 2px 2px 20px gray;
    padding: 10px;
}
.coustom-footer .footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}